# CleanStudentAttendance 
This notebook reads in the student attendance and school directory files and
* reformats the attendance rate to a float 
* creates a merged data frame with columns from the school directory added to the attendance rate 
* outputs the cleanded dataframe as a csv file in the ```data/cleaned_data_schoolattendancerate.csv``` directory

In [7]:
import pandas as pd

data1 = '../data/QLD-2015-19-student-attendance-rate-by-school.csv'
data2 = '../data/QLD-School-Directory.csv'
student_attendance_df = pd.read_csv(data1)
school_directory_df = pd.read_csv(data2)

Have a look at the contents of the two data sets
* Student Attendance

In [8]:
student_attendance_df

,School Code,School,Attendance Year,School Type,School Category,Remoteness Area,Region,Local Government Area,State Electorate,FTE Days Attended,Possible Attendance Days,Attendance Rate
0,591,Abercorn State School,2015,State School,Primary,Outer Regional Australia,Central Queensland,North Burnett (R),Callide,1987.5,2103.0,94.50%
1,591,Abercorn State School,2016,State School,Primary,Outer Regional Australia,Central Queensland,North Burnett (R),Callide,1632.5,1705.0,95.70%
2,591,Abercorn State School,2017,State School,Primary,Outer Regional Australia,Central Queensland,North Burnett (R),Callide,1405.0,1440.0,97.60%
3,591,Abercorn State School,2018,State School,Primary,Outer Regional Australia,Central Queensland,North Burnett (R),Callide,1640.0,1700.0,96.50%
4,591,Abercorn State School,2019,State School,Primary,Outer Regional Australia,Central Queensland,North Burnett (R),Callide,1657.5,1728.0,95.90%
...,...,...,...,...,...,...,...,...,...,...,...,...
6127,275,Zillmere State School,2015,State School,Primary,Major Cities of Australia,Metropolitan,Brisbane (C),Aspley,11786.0,12919.0,91.20%
6128,275,Zillmere State School,2016,State School,Primary,Major Cities of Australia,Metropolitan,Brisbane (C),Aspley,12816.5,13956.0,91.80%
6129,275,Zillmere State School,2017,State School,Primary,Major Cities of Australia,Metropolitan,Brisbane (C),Aspley,11195.0,12314.0,90.90%
6130,275,Zillmere State School,2018,State School,Primary,Major Cities of Australia,Metropolitan,Brisbane (C),Aspley,12004.0,13503.0,88.90%
6131,275,Zillmere State School,2019,State School,Primary,Major Cities of Australia,Metropolitan,Brisbane (C),Aspley,10843.5,12567.0,86.30%

In [9]:
# reformat the Attendance Rate to a float for later analysis
student_attendance_df['Attendance Rate'].convert_dtypes(convert_string=True)
rate = []
for ia in range(len(student_attendance_df)):
    result = student_attendance_df['Attendance Rate'][ia]
    newresult = float(result.replace('%',''))
    rate.append(newresult)
student_attendance_df['Attendance Rate'] = rate

* School Directory

In [10]:
school_directory_df

,Centre Code,Centre Name,Centre Type,Centre Status,Host Centre Code,Host Centre Name,Official Low Year Level,Official High Year Level,Officer In Charge Title,School Band,...,Statistical Area Level2 Code,Remoteness Area,Enrolment Effective Date,All Student Count,Campus All Student Count,ABN,Sector,Non-State Sector,Longitude,Latitude
0,5817,A B Paterson College (Arundel),Non-State School,Open,NaN,NaN,Prep Year,Year 12,Principal,NaN,...,309031235,Major Cities of Australia,NaN,NaN,NaN,NaN,Non-State,Independent,153.360364,-27.927672
1,591,Abercorn State School,State School,Open,NaN,NaN,Prep Year,Year 6,Principal,5.0,...,319021508,Outer Regional Australia,2019 July,18.0,NaN,2.210125e+10,State,NaN,151.127031,-25.135955
2,1275,Abergowrie State School,State School,Open,NaN,NaN,Prep Year,Year 6,Principal,5.0,...,318011465,Remote Australia,2019 July,4.0,NaN,8.724407e+10,State,NaN,145.883510,-18.474697
3,5588,Aboriginal & Islander Independent Community Sc...,Non-State School,Open,NaN,NaN,Prep Year,Year 12,Principal,NaN,...,303051076,Major Cities of Australia,NaN,NaN,NaN,NaN,Non-State,Independent,153.025757,-27.581562
4,25,Acacia Ridge State School,State School,Open,NaN,NaN,Early Childhood,Year 6,Principal,8.0,...,303051076,Major Cities of Australia,2019 July,379.0,NaN,9.928509e+10,State,NaN,153.016074,-27.579554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769,2367,Youth and Community Learning Centre (Toowoomba),Non-State School,Open,NaN,NaN,Year 8,Year 12,Principal,NaN,...,317011454,Inner Regional Australia,NaN,NaN,NaN,NaN,Non-State,Catholic,151.955281,-27.533144
1770,1954,Yugumbir State School,State School,Open,NaN,NaN,Prep Year,Year 6,Principal,11.0,...,311031319,Major Cities of Australia,2019 July,1089.0,NaN,6.145468e+10,State,NaN,153.049445,-27.675902
1771,372,Yuleba State School,State School,Open,NaN,NaN,Early Childhood,Year 6,Principal,5.0,...,307011177,Remote Australia,2019 July,15.0,NaN,9.632736e+10,State,NaN,149.381988,-26.614533
1772,1002,Yungaburra State School,State School,Open,NaN,NaN,Prep Year,Year 6,Principal,7.0,...,306051169,Outer Regional Australia,2019 July,205.0,NaN,3.915362e+10,State,NaN,145.585798,-17.272953
1773,275,Zillmere State School,State School,Open,NaN,NaN,Prep Year,Year 6,Principal,6.0,...,302041046,Major Cities of Australia,2019 July,130.0,NaN,3.745681e+10,State,NaN,153.037355,-27.364673

In [11]:
# Make a sub-set of the school directory with only the columns that we want to have in the merged data set 
sd_temp_df = school_directory_df.loc[:,['Centre Code', 
       'Official Low Year Level',
       'Official High Year Level',
       'Actual Address Line 3', 'Actual Address Post Code',
       'All Student Count',
       'Longitude', 'Latitude']].dropna()

sd_temp_df = sd_temp_df.rename(columns = {'Centre Code':'School Code','Actual Address Line 3':'Suburb','Actual Address Post Code':'Post Code'})

In [12]:
#check that the School Code is unique 
sd_temp_df['School Code'].value_counts()

1030    1
541     1
807     1
2062    1
2165    1
       ..
145     1
1037    1
451     1
468     1
7121    1
Name: School Code, Length: 1237, dtype: int64

In [14]:
#now merge the school directory with the student attendance and write it out 
student_attendance_merged_df = student_attendance_df.merge(sd_temp_df,on = 'School Code',how='inner')
student_attendance_merged_df.to_csv('../data/cleaned_data_schoolattendancerate.csv',index=False,header=True)