In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
from scipy.stats import linregress
import math
from datetime import datetime

In [10]:
# open the attendance rate data and write it into a DataFrame 
attendance_file_name = "..\data\QLD-2015-19-student-attendance-rate-by-school.csv"
attendance_df = pd.read_csv(attendance_file_name)
attendance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6132 entries, 0 to 6131
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School Code               6132 non-null   object
 1   School                    6132 non-null   object
 2   Attendance Year           6132 non-null   int64
 3   School Type               6132 non-null   object
 4   School Category           6132 non-null   object
 5   Remoteness Area           6132 non-null   object
 6   Region                    6132 non-null   object
 7   Local Government Area     6132 non-null   object
 8   State Electorate          6132 non-null   object
 9   FTE Days Attended         6132 non-null   float64
 10  Possible Attendance Days  6132 non-null   float64
 11  Attendance Rate           6132 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 575.0+ KB

In [13]:
school_directory_file_name = '..\data\QLD-School-Directory.csv'
raw_school_df = pd.read_csv(school_directory_file_name)
raw_school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1774 entries, 0 to 1773
Data columns (total 38 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Centre Code                              1774 non-null   object
 1   Centre Name                              1774 non-null   object
 2   Centre Type                              1774 non-null   object
 3   Centre Status                            1774 non-null   object
 4   Host Centre Code                         0 non-null      float64
 5   Host Centre Name                         0 non-null      float64
 6   Official Low Year Level                  1774 non-null   object
 7   Official High Year Level                 1774 non-null   object
 8   Officer In Charge Title                  1774 non-null   object
 9   School Band                              1248 non-null   float64
 10  Show Holiday Date                        1248 non-null   object
 11  Internet Site                            1771 non-null   object
 12  Phone Number                             1773 non-null   object
 13  Restrict Contact Outside Teaching Hours  1419 non-null   object
 14  Fax Number                               1513 non-null   object
 15  Actual Address Line 1                    17 non-null     object
 16  Actual Address Line 2                    1774 non-null   object
 17  Actual Address Line 3                    1774 non-null   object
 18  Actual Address Post Code                 1774 non-null   int64
 19  Postal Address Line 1                    1774 non-null   object
 20  Postal Address Line 2                    1772 non-null   object
 21  Postal Address Line 3                    70 non-null     object
 22  Postal Address Post Code                 1774 non-null   int64
 23  Education Geographic Region              1774 non-null   object
 24  Federal Electorate                       1774 non-null   object
 25  State Electorate                         1774 non-null   object
 26  Local Government Area                    1774 non-null   object
 27  Statistical Area Level2                  1774 non-null   object
 28  Statistical Area Level2 Code             1774 non-null   int64
 29  Remoteness Area                          1774 non-null   object
 30  Enrolment Effective Date                 1237 non-null   object
 31  All Student Count                        1237 non-null   float64
 32  Campus All Student Count                 0 non-null      float64
 33  ABN                                      1249 non-null   float64
 34  Sector                                   1774 non-null   object
 35  Non-State Sector                         521 non-null    object
 36  Longitude                                1774 non-null   float64
 37  Latitude                                 1774 non-null   float64
dtypes: float64(8), int64(3), object(27)
memory usage: 526.8+ KB